*.ipr
*.iws
*.iml
.idea/
*.swp
*.DS_Store
*~

# Node Files
node_modules/
test/google/node_modules/
npm-debug.log

# Test & Coverage
coverage/
test-results.xml

# Dist
.gradle/
dist/
transpiled/
xmloutput/
.happypack/
build/
dll/
